<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person list title</title>
</head>
<body style="background: linear-gradient(-55deg,
                 #ffeeb0 30%,#a2d49f 30%,#a2d49f 40%,#c7c12f 40%,#c7c12f 50%,#f26247 50%,#f26247 60%,#ec2045 60%,#ec2045 70%,#ffeeb0 70%);">
[[${#httpServletRequest.remoteUser}]]

<section>
    <h2>Person title here</h2>
    <div class="person_list">
        <div th:each="p : ${users}">
            <a th:href="${p.id}" th:text="${p.username}">Person username</a>
        </div>
    </div>

</section>
</body>
</html>